head {
    text-align: center;
}

body {
    text-align: center;
    background-color: white;
}

li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }