*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    max-width: 100%;
}

head {

    text-align: center;
}

body {

    text-align: center;
    background-color: white;
}

/*removes dots from the list elements */
ul {

    list-style-type: none;
  }

  h2{

        font: 1.5em sans-serif;
        position: relative;
    }
 
  
.navbar{

    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-color: black;
    border: 0cap;
    /*places the nav bar elements in the top right of the screen*/
    /*position: absolute; top:0; right: 0; */
    position: absolute;top: 0% ;left: 38%;
}


.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  
}

.menu li:hover {
        
    text-align: end;
    background-color: grey;
    color: red;
    border-radius: 5px;
    transition: 0.3s ease;
    }
        
.menu li {
        
        padding: 5px 14px;
        }

.Header{
 
    font: 1.5em sans-serif;
    position: relative;
    padding: 100px;
    padding-top: 55px;
    padding-bottom: 0%;
}

.subtext{
    padding-top: 10px;
}

.libraries{
    position: relative; right: 0px;
}


.button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button:focus {
  outline: 1px transparent;
}

.button:before {
  display: none;
}

.button:-webkit-details-marker {
  display: none;
}