*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    max-width: 100%;
}

head {

    text-align: center;
}

body {

    text-align: center;
    background-color: white;
}

/*removes dots from the list elements */
ul {

    list-style-type: none;
  }

  h2{

        font: 1.5em sans-serif;
        position: relative;
    }
 
  
.navbar{

    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-color: black;
    border: 0cap;
    /*places the nav bar elements in the top right of the screen*/
    /*position: absolute; top:0; right: 0; */
    position: absolute;top: 0% ;left: 38%;
}


.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  
}

.menu li:hover {
        
    text-align: end;
    background-color: grey;
    color: red;
    border-radius: 5px;
    transition: 0.3s ease;
    }
        
.menu li {
        
        padding: 5px 14px;
        }

.nameArea {

    font: 1.5em sans-serif;
    padding: 100px;
    padding-bottom: 0%;


    width: 1900px;
    height: 175px;
}

.Header{
 
    font: 1.5em sans-serif;
    position: relative;
    padding: 100px;
    padding-bottom: 0%;
}

